/** @format */

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

// I've done so much with scss =P

.alert-fadein {
    animation: fadeIn 500ms ease-out;
    opacity: 1;
}

.alert-fadeout {
    animation: fadeOut 400ms ease-in;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
